@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body {
  background-color: black;
}
.row {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 0;
  padding: 0;
}
.img-fluid {
  border-radius: 15px;
}
h2 {
  font-family: andale mono, monospace;
  font-weight: bold !important;
}
h3 {
  font-family: andale mono, monospace;
  font-weight: bold !important;
}
label {
  font-family: andale mono, monospace;
  font-weight: bold !important;
}
input[type="password"] {
  border-radius: 8px;
  border: 2px solid black;
  font-family: andale mono, monospace;
}
input[type="email"] {
  border-radius: 8px;
  border: 2px solid black;
  font-family: andale mono, monospace;
}
button[type="submit"] {
  align-content: center;
  font-family: andale mono, monospace;
  font-size: 15px;
  width: 40%;
  background-color: white;
}
h4 {
  font-family: andale mono, monospace;
  font-weight: bold !important;
}
.form-select {
  background-color: white;
  color: black;
  font-family: andale mono, monospace;
  width: 60%;
  text-align: left;
}
