.list-group-item {
  border: none;
  font-family: andale mono, monospace;
  font-size: 18px;
}
.my-container {
  padding: 3%;
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card-containers {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}
.screenshots-container {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.screenshot-images {
  border-radius: 15px;
  max-width: 40%;
  max-height: 50%;
  width: auto;
  height: auto;
}
h2 {
  text-align: center;
  color: black !important;
  font-size: 40px !important;
}
