@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body {
  background-color: white;
}
.main {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 35px;
}
h1 {
  text-align: left;
  font-family: "Staatliches";
}
.card {
  flex-grow: 0.1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card-containers {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
  gap: 10px 7px;
  justify-content: space-evenly;
}
.custom-select-form {
  width: 200px;
  border-radius: 15px;
}
.favorite-icon {
  color: white;
}

.favorite-icon:hover {
  color: red;
}

.favorite-icon:active {
  color: red;
}
.months-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 5px;
  margin-bottom: 20px;
  gap: 10px;
}
.buttons {
  font-weight: bold;
  border-radius: 5px;
  border: none;
  gap: 5px;
  font-family: "andale mono, monospace";
}

.paginationButtons {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.paginationButtons > * {
  background-color: white;
  border: 1px solid #ddd;
  color: #333;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "andale mono, monospace";
}
.nextButton,
.previousButton {
  text-decoration: none;
  color: black;
  font-family: "andale mono, monospace";
}

.paginationActive {
  background-color: black;
  color: white;
}

.paginationDisabled {
  color: red;
  cursor: not-allowed;
  pointer-events: none;
}
