@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body {
  background-color: white;
}
.main {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 35px;
}
h1 {
  text-align: left;
  font-family: "Staatliches";
}
.card {
  flex-grow: 0.1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card-containers {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
  gap: 10px 7px;
  justify-content: space-evenly;
}
.custom-select-form {
  width: 200px;
  border-radius: 15px;
}
.favorite-icon {
  color: white;
}

.favorite-icon:hover {
  color: red;
}

.favorite-icon:active {
  color: red;
}
.months-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 5px;
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-family: "andale mono, monospace";
}

button:hover {
  color: black;
}
